/**设置滚动条样式**/
.bscroll-vertical-scrollbar {
  width: 4px !important
}
.slide-in {
  height: 0rem;
  overflow: hidden;
}
.slide-in-enter {
  height: 0px;
}
.slide-in-enter-active {
}
.slide-in-enter-done {
  height: 5rem;
  transition: all .2s linear;
}

.slide-in-leave {
  height: 5rem;
}
.slide-in-enter-active {
  
}
.slide-in-leave-done {
  transition: all .2s linear;
  height: 0px;
  overflow: hidden;
}
.am-navbar, .am-navbar-light {
  background-color: transparent !important;
}
.am-navbar-right {
  margin-right: 0 !important;
}
.mainBg {
  background: rgb(72, 137, 219)
}
.bgCol {
  background: "#edf0f5"
}